# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 24.9.2
adafruit-blinka=8.50.0=pypi_0
adafruit-circuitpython-busdevice=5.2.10=pypi_0
adafruit-circuitpython-connectionmanager=3.1.2=pypi_0
adafruit-circuitpython-gps=3.11.0=pypi_0
adafruit-circuitpython-requests=4.1.8=pypi_0
adafruit-circuitpython-typing=1.11.1=pypi_0
adafruit-platformdetect=3.75.0=pypi_0
adafruit-pureio=1.1.11=pypi_0
autopep8=2.0.4=pyhd3eb1b0_0
binho-host-adapter=0.1.6=pypi_0
brotli-python=1.0.9=py312h313beb8_8
bzip2=1.0.8=h80987f9_6
ca-certificates=2024.9.24=hca03da5_0
certifi=2024.8.30=py312hca03da5_0
charset-normalizer=3.3.2=pyhd3eb1b0_0
expat=2.6.3=h313beb8_0
idna=3.7=py312hca03da5_0
libcxx=14.0.6=h848a8c0_0
libffi=3.4.4=hca03da5_1
ncurses=6.4=h313beb8_0
openssl=3.0.15=h80987f9_0
pip=24.2=py312hca03da5_0
pycodestyle=2.12.1=py312hca03da5_0
pyftdi=0.56.0=pypi_0
pyserial=3.5=pypi_0
pysocks=1.7.1=py312hca03da5_0
python=3.12.7=h99e199e_0
pyusb=1.2.1=pypi_0
readline=8.2=h1a28f6b_0
requests=2.32.3=py312hca03da5_1
setuptools=75.1.0=py312hca03da5_0
sqlite=3.45.3=h80987f9_0
tk=8.6.14=h6ba3021_0
typing-extensions=4.12.2=pypi_0
tzdata=2024b=h04d1e81_0
urllib3=2.2.3=py312hca03da5_0
wheel=0.44.0=py312hca03da5_0
xz=5.4.6=h80987f9_1
zlib=1.2.13=h18a0788_1
